body {
    background: linear-gradient(109.6deg,
            rgb(0, 0, 0) 11.2%,
            rgb(11, 132, 145) 91.1%);
    min-height: 100vh;
    background-color: black;
}

h1,
h2,

p {
    color: #05282c;
}

.weather-forcast{
    margin-top: 20px;
    text-align: center;
}
.weather-forcast-date{
    font-size: 16px;
    color: #05282c;
    opacity: 0.6;
}

.weather-forcast-temperature-min{

    font-size: 13px;
    opacity: 0.6;
}